<div class="swiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <section class="home">
                <!-- DYNAMIC_HOME_BACKGROUND -->

                <div class="home-content hidden animate-on-scroll">
                    <h1 class="scale-fade-in">Make The Space Warm <span style="font-size: 1.5em;">.</span> Let The Team
                        Shine</h1>
                    <div class="decor-line scale-fade-in"></div>
                    <p class="scale-fade-in">
                        We build a comfortable atmosphere with details and nourish every passion and dedication in a
                        positive culture.<br />
                        We believe that efficiency comes from trust and innovation comes from freedom. A team with
                        warmth,<br />
                        can create sustained value and move steadily forward in the direction of the industry benchmark.
                    </p>
                </div>
            </section>
        </div>

        <div class="swiper-slide">
            <section class="about-section" id="comprofile">
                <div class="comprofile-section">
                    <div class="comprofile-text">
                        <p class="comprofile-subtitle animate-on-scroll slide-in-left delay-1">
                            <span class="circle"></span>Company Profile
                        </p>
                        <h2 class="comprofile-title animate-on-scroll slide-in-left delay-2">KUNZZ HOLDINGS</h2>
                        <p class="comprofile-description animate-on-scroll slide-in-left delay-3">
                            Kunzz Holdings was established in 2023 with the original intention of establishing a unified
                            management platform for its businesses and improving the efficiency of resource integration.
                            We adhere to the mission of "creating a positive and comfortable working environment",
                            continue to promote the construction of organizational atmosphere, and achieve a warmer
                            corporate culture. We believe in the core spirit of positivity, efficiency, flexibility, and
                            integrity, always take goal orientation and consistent concepts as the criteria, pursue
                            excellence, and be innovative.
                        </p>
                    </div>
                    <div class="comprofile-image animate-on-scroll rotate-3d-full">
                        <!-- 你可以换成自己的图片 -->
                        <img src="../images/images/logo.png" alt="Company Profile Image" />
                    </div>
                </div>

                <div class="stats-section animate-on-scroll">
                    <div class="stat-box">
                        <div class="stat-number">2023</div>
                        <div class="stat-label">Year of Establishment</div>
                    </div>
                    <div class="divider"></div>
                    <div class="stat-box">
                        <div class="stat-number">3</div>
                        <div class="stat-label">Number of Subsidiaries</div>
                    </div>
                    <div class="divider"></div>
                    <div class="stat-box">
                        <div class="stat-number">70+</div>
                        <div class="stat-label">Number of Employees</div>
                    </div>
                </div>
            </section>
        </div>

        <div class="swiper-slide">
            <section id="culture" class="culture-section">
                <div class="culture-left animate-on-scroll card-tilt-in-left">
                    <div class="culture-card">
                        <img src="../images/images/积极向上 (1).png" alt="icon" class="culture-icon">
                        <h3>Positive</h3>
                        <p>Stay Positive in Challenges<br>Embrace Change to Grow</p>
                    </div>
                    <div class="culture-card">
                        <img src="../images/images/高效执行 (1).png" alt="icon" class="culture-icon">
                        <h3>Efficient</h3>
                        <p>Say it, do it. Respond fast.<br>Result-Driven & Action-Oriented</p>
                    </div>
                    <div class="culture-card">
                        <img src="../images/images/灵活应变 (1).png" alt="icon" class="culture-icon">
                        <h3>Flexible</h3>
                        <p>Face Change and Challenges<br>Stay Open and Adjust Fast</p>
                    </div>
                    <div class="culture-card">
                        <img src="../images/images/诚信待人 (1).png" alt="icon" class="culture-icon">
                        <h3>Honesty</h3>
                        <p>Build Trust with Sincerity<br>is Our Core Principle</p>
                    </div>
                </div>

                <div class="culture-right animate-on-scroll">
                    <h2 class="culture-title animate-on-scroll culture-scale-fade delay-6">Our Core Values<br>Company
                        Culture</h2>
                    <p class="culture-description animate-on-scroll culture-scale-fade delay-7">
                        At Kunzz Holdings, we believe that culture determines height. We are goal-oriented and based on
                        ideas to build a team with efficient execution and high collaborative spirit.
                        We advocate flat communication, respect the growth rhythm of each member, and encourage sharing,
                        learning and co-creation. Here, every effort can be seen and every breakthrough is worth
                        encouraging.
                    </p>
                    <a href="about.php" class="culture-button animate-on-scroll culture-scale-fade delay-8">Learn More
                        &gt;&gt;</a>
                </div>
            </section>
        </div>

        <div class="swiper-slide">
            <div class="contact-section-wrapper" id="map">
                <section class="contact-container">
                    <div class="contact-info">
                        <h2>Contact Us</h2>
                        <p>Company Name：Kunzz Holdings Sdn. Bhd.</p>
                        <p>
                            Address：
                            <a href="javascript:void(0);" onclick="goToLocation()" class="no-style-link">
                                25, Jln Tanjong 3, Taman Desa Cemerlang, 81800 Ulu Tiram, Johor Darul Ta'zim
                            </a>
                        </p>
                        <p>Phone：+60 13-553 5355</p>
                        <p>Email：kunzzholdings@gmail.com</p>
                        <p>Hours：Mon - Fri 9AM-6PM</p>
                    </div>

                    <div class="map-container">
                        <iframe id="custom-map"
                            src="https://www.google.com/maps/d/embed?mid=11C1m9L_Gcj_n8ynGotoCNc4rzq0FX54&ehbc=2E312F"
                            width="640" height="480"></iframe>
                    </div>
                </section>
            </div>
            <!-- DYNAMIC_FOOTER -->
        </div>

    </div> <!-- 关闭 swiper-wrapper -->
</div> <!-- 关闭 swiper -->